<p>
  I make web and mobile apps built on renowned frameworks like <a href="https://reactjs.org" target="_blank">React</a> and <a href="https://flutter.dev" target="_blank">Flutter</a>. This makes me a renowned developer (I think). I use <a href="https://www.typescriptlang.org" target="_blank">TypeScript</a>, <a href="https://golang.org" target="_blank">Golang</a> and <a href="https://www.python.org" target="_blank">Python</a> to write clear, robust code that's straightforward and easy to build on.
</p>

<p>
  My favourite project right now is called <a href="http://doraboateng.com" target="_blank">Dora Boateng</a> (<a href="https://github.com/doraboateng/web" target="_blank">open-source</a>). 
</p>

<p>
  I'm also a graduate of <a href="http://www.concordia.ca" target="_blank">Concordia University</a> (BEng '14) based out of Montreal, Canada, with a predilection for social innovation and entrepreneurship. 
</p>
